.gallery-container {
    display: grid;
    grid-template-columns: repeat(4, 200px);
    grid-gap: 20px;
    justify-content: center;
}

@media screen and (max-width: 720px) {
    .gallery-container {
        grid-template-columns: repeat(1, 200px);
    }
}